:root {
  background-gradient: linear-gradient(black, #737373);
}

.button {
  background-gradient: linear-gradient(to top, #343434 -23%, #000000 45.8%, #000000 50.8%, #343434 54.5%, #737373);
  width: 100px;
  height: 23px;
  font: fonts/aurulent-sans-16.fnt;
}
