<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}/">{{ site.title }}</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
				    <li style="vertical-align: top"><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
				{% endfor %}

<!-- the donation thing -->
<li><span><a href="http://sourceforge.net/donate/index.php?group_id=223898"><img src="http://images.sourceforge.net/images/project-support.jpg" width="88" height="32" border="0" alt="Support This Project" /></span></a></li>

		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
